body{
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

header{
    text-align: center;
    margin: 0px;
    padding: 0px;

}

ul{
    list-style: none;
    background-color:rgba(0,0,0,0.3);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li{
    display: inline;
    margin: 0px;
    padding: 0px;
    float: left;
    border-right: 2px solid rgba(0,0,0,0.1);
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
        serif;
    font-size: 22px;
    font-weight: 400;
    background-color:rgba(0,0,0,0.1);
}

h1 {
    font-weight: 600;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
    serif;
    text-align: center;
    margin-bottom: 5px;
    font-style: italic;
}

.text-section {
    margin: 10px 100px ;
    text-align: center;
    margin: 10px 100px;
}

footer{
    position: absolute;
    bottom: 0%;
    right:0%;
    left:0%;
    background-color:rgba(0,0,0,0.3);
    text-align: center;
}

.img-section{
    text-align: center;
     margin-top: 60px;
}

.nav-links{
    font-size: 40px;
    text-decoration: none;
    color:black;
    padding:10px;
    
}
.nav-links:hover{
    background-color:#c8bcac;
}
.nav-links-active{
    font-size: 40px;
    text-decoration: none;
    color:black;
    padding:10px;
    background-color: rgb(250, 235, 215);
}
img {
    box-shadow: 10px 10px  20px black;
}